---
import Layout from '../layouts/Layout.astro';
import Overview from '../components/Overview';
import EditorialHero from '../components/EditorialHero';
---

<Layout active="/">
  <EditorialHero client:load />
  <div class="py-16">
    <Overview client:load />
  </div>
</Layout>
